aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
arrow==1.3.0
attrs==25.3.0
caldav==2.0.1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
cloup==3.0.7
diskcache==5.6.3
fastexcel==0.14.0
frozenlist==1.7.0
fsspec==2025.7.0
icalendar==6.3.1
ics==0.7.2
idna==3.10
lxml==5.4.0
measurement==3.2.2
mpmath==1.3.0
multidict==6.6.3
numpy==2.3.2
pillow==11.3.0
platformdirs==4.3.8
polars-lts-cpu==1.32.0
portion==2.6.1
propcache==0.3.2
pyarrow==21.0.0
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pypdf==5.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
RapidFuzz==3.13.0
recurring-ical-events==3.8.0
requests==2.32.4
six==1.17.0
sortedcontainers==2.4.0
stamina==25.1.0
sympy==1.14.0
tabulate==0.9.0
TatSu==5.13.1
tenacity==9.1.2
tqdm==4.67.1
types-python-dateutil==2.9.0.20250708
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzfpy==1.0.0
urllib3==2.5.0
vobject==0.9.9
wetterdienst==0.110.0
x-wr-timezone==2.0.1
yarl==1.20.1
